---
layout: default
---

<!-- Section -->
<section>
    <header class="major">
        <h2>Experience</h2>
    </header>
    <div class="features">
        {% assign experience = site.experience | sort:"priority" %}
        {% for job in experience %}
        <article>
            <a href="{{job.url}}" class="image fit"><img src="{{job.logo}}" alt=""
                style="max-width:200px"/></a>
            <div class="content">
                <h3>{{job.title}}</h3>
                <p>{{job.summary}}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Involvement</h2>
    </header>
    <div class="features">
        {% assign involvement = site.involvement | sort:"priority" %}
        {% for org in involvement %}
        <article>
            <a href="{{org.url}}" class="image fit"><img src="{{org.logo}}" alt=""
                style="max-width:200px"/></a>
            <div class="content">
                <h3>{{org.title}}</h3>
                <p>{{org.summary}}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</section>

<section>
    <header class="major">
        <h2>Projects</h2>
    </header>
    <div class="features">
        {% assign projects = site.projects | sort:"priority" %}
        {% for project in projects %}
        <article>

            <a href="{{project.url}}" style="border-bottom:none">
                <span class="icon fa-{{project.logo}}"></span></a>
            <div class="content">
                <h3>{{project.title}}</h3>
                <p>{{project.summary}}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
