/*    
    --base-blue: #001a9d;
    --base-red: #9d001a;
    --base-yellow: #9d8300;
    --base-green: #009d83;
    */
body 
{
    border: 0;
    padding: 0;
    margin: 0;
}

#viewport
{

}

.page
{
    min-height: 100%;
    width: 100%;
}

.name
{
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    text-align: center;
}

#central
{
    color: white;
    position: relative;
    text-align: center;
}

.links
{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}
.link a
{
    color: white;
    text-decoration: none;
}

#about
{
    font-size: 16pt;
    font-family: 'Raleway', sans-serif;
}

#projects
{
    font-size: 16pt;
    font-family: 'Raleway',sans-serif;
}

#contact
{
    
}

.circular
{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.centered
{
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

a
{
    text-decoration: none;
}