/*    
    --base-blue: #001a9d;
    --base-red: #9d001a;
    --base-yellow: #9d8300;
    --base-green: #009d83;
    */
body 
{
    border: 0;
    padding: 0;
    margin: 0;
}

#viewport
{

}

.page
{
    height: 100%;
    width: 100%;
}

.name
{
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
}

#central
{
    color: white;
    position: absolute;
}

.links
{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
}
.link a
{
    color: white;
    text-decoration: none;
}

#splash
{
}

#about
{
    
}

#projects
{
    
}

#contact
{
    
}
