<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Joshua Morton</h1>
        <p>A Computer Scientist.</p>
      </header>
      <p>I'm a Georgia Tech Graduate as of December 2016, and a Googler as of
      February 2017. I have an interest in machine learning, theorectical
      computer science, python, juggling, and a whole host of other things.
      <br /><br />
      
      I can currently be found in Atlanta.</p>
    </div>
    <span class="image object">
      <img src="assets/images/jmortonface.jpg" alt="" />
    </span>
  </section>
