<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Josh</h1>
        <p>A Computer Scientist.</p>
      </header>
      <p>I'm a Georgia Tech Computer Science Graduate as of December 2016, 
      with a focus in theory and intelligence. And as of February 2017, I'm 
      also a Googler. I have an interest in machine learning, theorectical
      computer science, python, juggling, and a whole host of other things.
      <br /><br />
      
      I can currently be found in Atlanta.</p>
    </div>
    <span class="image object">
      <img src="assets/images/jmortonface.jpg" alt="" />
    </span>
  </section>
