<div class="container">
    <div class="row">
        <table class="u-full-width">
            <tbody>
                <tr><td></td></tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="four columns">
            <p style="color:gray">ClassRank, 2015.</p>
        </div>
        <div class="four columns" class="center">
            <div class="center">
                <p style="color:gray"> Keep <a style="color:gray" href={{site.posts.first.url}}>up to date </a></p>
            </div>
        </div>
        <div class="four columns">
            <p class="u-pull-right" style="color:gray">Built with <a style="color:gray" target="_blank" href="http://getskeleton.com/">Skeleton</a>.</p>
        </div>
    </div>
</div>
<style>
    .center {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
</body>
